@model pro.Models.car

@{
    ViewBag.Title = "Detailscar1";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<style type="text/css">
    #one
    {
        margin-left:20%;
    }
    img
    {
        height:150px;
        width:150px;
    }
</style>
<h2></h2>
<div id="one">
<fieldset>
    <legend>car</legend>
    <div><img src=@Url.Content(Model.image)/></div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.brand)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.brand)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.model)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.model)
    </div>

    

    <div class="display-label">
         @Html.DisplayNameFor(model => model.price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.location)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.location)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.phone)
    </div>

    

    <div class="display-label">
         @Html.DisplayNameFor(model => model.poston)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.poston)
    </div>
</fieldset>
<p>
     @Html.ActionLink("Back to List", "index", "Home")
</p>
</div>