@using pro.Models
@{
    dbaseEntities1 db = new dbaseEntities1();
    List<menu> menus = db.menus.OrderBy(x => x.name).ToList();
    ViewBag.menulist = menus;
    var Users = (List<menu>)ViewBag.menulist;
}
<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/login.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
 <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>নাজিম অ্যাপ্লিকেশন</title>
<link rel="stylesheet" href="@Url.Content("~/Content/styles.css")" type="text/css" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
</head>
<body>

    <div id="sitename">
        <div class="width">
            <h1><a href="#">Sell Me</a></h1>

            <nav>
                <ul>
                    <li class="start selected"><a href="/Home/index">Home</a></li>
                    <li class="end"><a href="/contact/Index">Contact</a></li>
                    @*<li><a href="#">Products</a></li>*@
                    @if(Session["username"]!=null)
                 {
                     <li><a>Hi @Session["username"]</a></li>
                     <li class="end"><a href="/login/logout">Logout</a></li>
                 }
                 else
                    { <li><a data-toggle="modal" href="#LoginModal"><b>Login</b></a></li> 
                    
                    }
                    

        <!-- Modal -->
        <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="CmapModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Login</h4>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("verify", "login", FormMethod.Post))
                        {
                            <div class="imgcontainer">
                                <img src="~/photo/limg.jpg" alt="Avatar" class="avatar">
                            </div>

                            <div class="container1">
                                <table>
                                    <tr>
                                        <td><label><b>Username</b></label></td>
                                        <td><input type="text" placeholder="Enter Username" name="username" required></td>
                                    </tr>
                                    <tr>
                                        <td><label><b>Password</b></label></td>
                                        <td><input type="password" placeholder="Enter Password" name="password" required></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <button type="submit" class="btn-lg">Login</button>@*<span style="padding-left:20%">
                        <input type="checkbox" checked="checked"> Remember me
                    </span>*@
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div style="background-color:#f1f1f1">
                                
                                <input type="checkbox" checked="checked"> Remember me
                                @*<button type="button" class="cancelbtn">Cancel</button>*@
                                <span style="float:right">Forgot <a href="#">password?</a></span>
                                   
                            </div>
                        }

                    </div>
                    @*<div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>*@
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
                    
        
        </ul>
        </nav>

        <div class="clear"></div>
    </div>
		</div>
		<header>
        
			<div class="width">
            <div><a href="/Addfreepost/Index" id="addbutton">ফ্রী এড পোস্ট করুন</a></div>
				<h2>স্বাগতম সেল মি ওয়েবসাইটে!<span></span></h2>
				<div class="tagline">
					<p>Welcome to Sell Me.com - the largest marketplace in Bangladesh.Buy and sell everything from used cars to mobile phones and computers, or search for property, jobs and more in Bangladesh - for free!.Select a region below to get started:
</p>
				</div>
			</div>
		</header>
        <section id="body" class="width clear">

        <table border="0">
    <tr>
    <td id="menu"> 
			<aside id="sidebar" class="column-left">
            
            @foreach (var i in Users)
            {
                if (i.parentid != 0)
                {
                }

                else
                {
                    <ul class="blocklist">
                    <li class="selected-item"><h4>@i.name</h4>
                    </ul>
                        
                }
                foreach (var item in Users.Where(a => a.parentid == i.id))
                {
                 
                <li class="blocklist">
                <a>@Html.ActionLink(item.menu2.name, item.navurl, i.menu2.name)</a>             
                </li>
                
                
                }
            }
                </td><td id="content">@RenderBody()</td></tr>
        
    </table>
            
	</ul>
			</aside>
			
