@using PagedList
@using PagedList.Mvc

@model IPagedList<pro.Models.car>
<link rel="stylesheet" href="@Url.Content("~/Content/PagedList.css")" type="text/css" />
@{
    ViewBag.Title = "Car";
}

<h2>Car</h2>
@foreach (var item in Model)
{
     <a href="~/details/Detailscar1/@item.id">
<table style=" background-color:; border:1px solid black; width:100%">
<tr>
<td><img src="@Url.Content(item.image)" alt="" width="100px" height="100px" /></td>
<td>
<table>
<tr><td><h3>@item.brand</h3></td><td></td><td></td></tr>

<tr><td>@item.area</td><td align="right">@item.price</td></tr>
</table>
<td>
<table><tr><td>@item.area</td></tr></table>
</td>
</td>
</tr>

<tr><td><</td></tr>
</table>
</a>
    
}
 <div class="pagedList">
        @Html.PagedListPager(Model, page => Url.Action("Car", new { page }), PagedListRenderOptions.PageNumbersOnly)
    </div>
    
