@using PagedList
@using PagedList.Mvc

@model IPagedList<pro.Models.mobile>

@{
    ViewBag.Title = "Mobile";
    Layout = "~/Views/Shared/admin.cshtml";
}


<style>
    .button {
        outline: 0;
        margin: 0 4px 0 0;
        padding: 0 1em;
        height: 2em;
        text-decoration: none !important;
        cursor: pointer;
        position: relative;
        text-align: center;
        display: inline-block;
        background-color: Green;
        border: 1px solid Lime;
    }

    a.button {
        color: White;
    }

    #msg {
        text-align: center;
        border: solid 1px green;
        color: Green;
        height: 40px;
    }
    td
    {
        height:60px;
        width:150px;
    }
</style>
<link href="../../Content/PagedList.css" rel="stylesheet" type="text/css" />
@if (ViewBag.msg != null)
{
    <div id="msg">
        <h5>  @ViewBag.msg</h5>
    </div>
}
<h2>Camera</h2>

@foreach (var item in Model)
{


    <table style=" background-color:; border:3px solid #092758; width:100%">
        <tr>
            <td rowspan="3"><img src="@Url.Content(item.image)" width="100px" height="100px" /></td>
            <td>
            <h3>@item.brandname</h3></td><td>@item.price/=
            </td>

                    <tr><td>Dhaka</td><td>@item.poston</td>
                
            
                @*@item.price/=*@<td rowspan="2">@Html.ActionLink("ViewDetails", "Index", "ViewDetails", new { name = "Mobile", id = item.id }, new { @class = "button" })</td></tr>
            
        

    </table>

}


<div class="pagedList">
    @Html.PagedListPager(Model, page => Url.Action("Ads", new { name = "Camera", page }), PagedListRenderOptions.PageNumbersOnly)
</div>

